<ion-header>
  <ion-toolbar>
    <ion-title>
      DrinQ &lt; ad here &gt;
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <!--
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      -->
      <ion-card-content>
        <p>This is a placeholder, the image will be replaced with logo at some point</p>
      </ion-card-content>
    </ion-card>
    <ion-button href="tabs/play" class="landing-button" qa-id="play-button" expand="block">
        START
    </ion-button>
    
    <ion-card>
      <ion-card-content>
        <ion-text class="rules-container">
            <h2> Rules </h2>
            <p>
              <br> Pass the phone to your friends <br>
              They have to answer the question on the card <br>
              If they don't want to answer <br>
              OR <br>
              If the answer wasn't judged to be good enough <br>
              THEY DRINK
            </p>
          </ion-text>
      </ion-card-content>
    </ion-card>

</ion-content>
