<ion-header>
  <ion-toolbar>
    <ion-title>
      DrinQ &lt; ad here &gt;
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <!--
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      -->
      <ion-card-content>
        <p>This is a placeholder, the image will be replaced with logo at some point</p>
      </ion-card-content>
    </ion-card>
    <ion-button class="landing-button" qa-id="play-button" expand="block">
        START
    </ion-button>
</ion-content>
