.logo {
    height:10%;
}

ion-card {
    box-shadow: none;
}

ion-content {
    --ion-background-color: rgb(140, 120, 85);
}

ion-fab-button {
    --background: rgb(100, 55, 15);
}

.card {
    height: auto;
    min-height: 70%;
    background-image: url(../../assets/Card_frame.svg);
    background-size: 100% 100%;
    margin: 1%;
    filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.5));
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Epilog';
}

.card-item {
    flex-grow: 1;
    margin: 0;
}

.card-type {
    padding-top: 5%;
    font-size: 10vw;
}

.card-category {
    padding: 0%;
    font-size: 6vw;
}

.card-text {
    padding: 0% 5% 8% 11%; // top right bottom left
    flex-grow: 5;
    flex-basis: 50%;
    font-size: 9vw;
    color: 	rgb(64,64,64);
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button-item {
    flex: 1 1 50%; // flex-grow flex-shrink flex-basis
    background-image: url(../../assets/UI_01_02.png);
    background-size: 100% 100%;
    margin: 1%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.5);
}

.button-text {
    text-align: center;
    font-family: 'Epilog';
    font-size: 7vw;
    //padding-bottom: 4%;
    color: white;
}

@media (orientation: landscape) {
    /* landscape styles */
    .card-item {
        font-size: 3vw;
    }

    .button-text {
        font-size: 3vw;
    }
}