<ion-header>
  <ion-toolbar>
    <ion-title>
      Play
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="logo">
      Logo
  </ion-card>
  <ion-card class="card">
    <ion-card-title class="card-type">
      {{cardType}}
    </ion-card-title>
    <ion-card-subtitle class="card-category">
      {{cardCategory}}
    </ion-card-subtitle>
    <ion-card-content class="card-text">
      {{cardText}}
    </ion-card-content>
  </ion-card>

  <!-- 
    why don't you just make the questions swipe-able?
    Then the buttons can be used to mark questions as DRANK
  -->

  <ion-button class="button" (click)="nextQuestion()">
      Next Question
  </ion-button>
  <ion-button class="button" (click)="previousQuestion()">
      Previous Question
  </ion-button>

</ion-content>



