.logo {
    height:10%;
}

.card {
    height: 50%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item {
    flex-grow: 1;
}

.card-text {
    flex-grow: 5;
    flex-basis: 50%;
}

.button-container {
    display: flex;
}

.button-item {
    flex-basis: 50%;
}