<ion-header>
  <ion-toolbar>
    <ion-title>
      Play
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="logo">
      Logo
  </ion-card>
  <ion-card class="question-card">
    Card content
  </ion-card>

  <!-- 
    why don't you just make the questions swipe-able?
    Then the buttons can be used to mark questions as DRANK
  -->

  <ion-button class="button">
      Next Question
  </ion-button>
  <ion-button class="button">
      Previous Question
  </ion-button>

</ion-content>



