// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Epilog';
    src: url('./assets/fonts/epilog.ttf');
}

ion-content, ion-header {
    --ion-background-color: black;
}

ion-fab-button, ion-button {
    --background: black;
    --border-color: white;
    --border-radius: 5px;
    --border-width: 2px;
    --border-style: solid;
    font-family: 'Epilog';
}